<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cs.umass.edu.customcalendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- TODO : Do we want fullBackupContent? Or should the application just request data from the server? -->
    <application
        android:name=".main.PrEPareApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="true">

        <activity
            android:name="cs.umass.edu.customcalendar.view.activities.CalendarActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.ProgressActivity"
            android:theme="@style/MyTheme" />

        <activity android:name=".view.activities.SelectDeviceActivity"/>
        <service android:name="com.mbientlab.metawear.android.BtleService" />
        <activity android:name=".view.activities.ReminderActivity"
            android:theme="@style/MyTheme"/>
        <receiver android:name=".reminders.NotificationPublisher"/>
        <activity android:name=".view.activities.SettingsActivity" />
        <service android:name=".services.WearableService"/>
        <service android:name=".services.MetawearService"/>
        <service android:name=".services.DataService"/>
        <receiver android:name=".services.DataService$NotificationResponseReceiver"/>

    </application>

</manifest>